
  @import "compass";


  .button.blue {
    margin:10px;
    padding:8px 35px;
    font:normal 14px Arial;
    line-height:15px;
    color:#F7F7F7;
    border:1px solid #024C97;
    text-decoration:none;
    @include border-radius(3px);
    background:#006EBA;
    @include background(linear-gradient(#006EBA,#005B9B));

    &:hover {
      background:#005B9B;
      @include background(linear-gradient(#006EBA,#004D83));
    }

    &:active {
      background:#004D83;
      @include background(linear-gradient(#004D83,#006EBA));
    }
  }